.video-player {
    background-color:rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding: 15px;
    border-radius: 20px;
    max-width: 100%;
    width: 90vw;
}



h2 {
    color: #175291;
    margin: 33px 33px 10px 33px;
}

p {
    color: #175291;
    margin: 10px 33px 5px 33px;
}

button {
    all: unset;
    margin: 15px;
    padding: 10px 15px;
    background-color: #3679c2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #175291;
}


iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 1000px; 
    margin: 0 auto;
    border: none;
}

