.clima-widget {
    background-color:whitesmoke;
    border: 1px solid slategray;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.clima-info {
    margin-top: 10px;
}